<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="/weather">Weather</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="dogs">Dogs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="penguins">Penguins</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/">Cats</a>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>